html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h3 {
  text-align: center;  
}

#container {
  width: 666px;
  margin: 1rem auto;
}

#inputs {
  text-align: center;
  background-color: skyblue;
  padding: 2rem 1rem;
  border-radius: 8px;
}

#bpm {
  width: 50px;
}

#speed {
  display: inline-block;
  width: 52px;
  font-weight: bold;
}

#bpm-table {
  width: 100%;
  border-spacing: 0;
}

#bpm-table th, td {
  text-align: center;
  width: 10%;
  border: none;
}
